<nav>
  <ul>
    <li id="home-button"><%= link_to "Home", root_path %></li>
    <li><a href="#">Login</a></li>
    <li><%= link_to "Join", members_new_path %></li>
    <li><%= link_to "About", about_index_path %></li>
    <li><%= link_to "Past Events", gallery_index_path %></li>
    <li><%= link_to "Events", events_index_path %></li>
  </ul>
</nav>