<%= render "welcome/nav_bar" %>

<div class="events-container">
  <h1>Coming Events</h1>
  <%= link_to "Add new event", new_event_path %>

  <table>
    <tr>
      <th>Event</th>
      <th>Date + Time</th> 
      <th>Details</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.time %></td>
      <td><%= link_to "Details", event_path(event) %></td>
    </tr>
    <% end %>
  </table>
</div>
