<%= render "welcome/nav_bar" %>

<h1>Create New Event</h1>
<%= link_to "Back to Calendar", events_path %>

<%= form_with scope: :events, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :time %><br>
    <%= select_date Date.today, prefix: :time %>
  </p>

  <p>
    <%= form.label :details %><br>
    <%= form.text_field :details %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>