<%= render "welcome/nav_bar" %>
<div class="header-container">
  <h1>Past Events</h1>
</div>
<div class="gallery-container">
  <% @galleries.each do |gallery| %>
    <div class="gallery-item-card">
      <div class="gallery-item-image">
      </div>
      <h6><%= gallery.created_at %></h6>
      <h1><%= gallery.name %></h1>
      <p>
        <%= gallery.details %>
      </p>
      <div class="gallery-item-footer">
        <p><%= link_to "Read More", gallery_path(gallery) %></p>
      </div>
    </div>
  <% end %>
</div>
